* {
  box-sizing: border-box;
}
.clearfix {
  overflow: auto;
}
body {
  background-image: url('../images/wood.jpg');
  font-family: 'Montserrat' 'Helvetica' 'sans-serif';
  font-size: 11px;
  text-transform: uppercase;
}
.banner {
  text-align: center;
  padding-bottom: 1em;
}
h1 {
  margin: 0;
  font-size: 26px;
  font-stretch: extra-expanded;
}
h2 {
  font-size: 14px;
  margin: .5em 0 0 0;

}
.question{
  font-size: 11px;
}
.form {
  margin: 0 auto;
  margin-top: 4em;
  background: #eabc6f;
  max-width: 710px;
  padding: .7em;
  position: relative;
  box-shadow: -1px 3px 23px 0px rgba(0,0,0,0.75);
}
.innerForm {
  border: 2px solid black;
  padding: 1em 1em 3em 1em;
}
.imgSam {
  border: 20px solid #e1c49a;
  transform: rotate(-1deg);
  box-shadow: 5px 5px 25px -4px rgba(0, 0, 0, 0.75);
}
#centerContent{
  padding: 1em .5em;
}
.leftColumn {
  float: left;
  max-width: 310px;
  border-right: .2em solid black;
  margin-top: 1em;
  padding-right: 2em;
}
.rightColumn {
  padding: 1.2em 0 .7em 1.5em;
}
.input {
  border-bottom: 1px solid black;
  font-family: Courier;
  margin-left: .5em;
  font-size: 16px;
  text-transform: none;
}
.form-row {
  padding-bottom: 10px;
}
.formInput {
  margin-top: .3em
}
ul li {
  display: inline;
  list-style-type: none;
}
.checkList {
  border: 1px solid black;
  padding: .7em;
}

.verification {
  font-family: 'Helvetica';
  float: right;
}
.date {
  width: 15em;
  float: left;
}
.dateadd {
  font-size: 16px;
  font-family: Courier;
}
.herbert {
  font-family: 'Crafty Girls';
  font-size: 16px;
  color: #365c69;
  text-align: center;
}
.parentsig {
  border-top: 1px solid black;
  font-size: 10px;
}
.signature {
  text-transform: none;
}
footer {
  padding-top: 2.5em;
}
.checkList input {
  padding: 3em;
}

input[type=radio],{
  position:absolute;
  left:0;
  top:0;
  width:1px;
  height:1px;
  overflow:hidden;
  opacity:0.01;
}
input[type=radio]+label{
  display:inline-block;
  font-size: 14px;

}
input[type=radio]:checked+label{
  //some style here to customize radio buttons, but how?!
}
